{% load bleach_tags external_sources reporting staticfiles humanize utils %}
<html>
<head>
    <meta name="report_type" content="job"/>
    <meta name="name" content="NYS_CF_2ND_TIER_QC_REPORT_v2"/>
    <meta name="assay_types" content="all"/>
    <meta name="save_to_file" content="NYS_CF_2ND_TIER_QC_REPORT_v2.pdf"/>

    <style type="text/css">
	    @page {
        size: A4;
        margin: 1cm;
        @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 0cm;
            margin-left: 6.5cm;
            height: 1cm;
        }
    }

    @font-face {
       font-family: FontAwesome;
       src: url(/static/archer-branding/font/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf);
    }

    table.data, table.reportable { border: 1px solid #666666;  border-collapse:collapse; border-color:#ccc;}
    .data td, .data th, .reportable td, .reportable th{ border: 1px solid #666666; font-size:11px; line-height:13px; vertical-align:top; padding:5px; }
    
    .data td, .data th, .reportable .centered {text-align:center;}
    .data td.label, .data th.label { text-align:left }
    .data th, .reportable th{background:#5789c6; color:#FFF; }

    .inner {border: 0px;border-collapse:collapse;}
    .inner td { border: 0px solid #666666; text-align:left;line-height:12px;padding:1px}
    
    .reportable td {
        text-align: left;
        vertical-align: top;
    }
    .reportable div {
        margin-bottom: 10px;
        margin-top: 0px;
        padding: 2px;
    }
    
    div.section {margin-bottom:30px;}

            table.meta_information {margin-bottom:40px;}
            td.meta_information {font-size:10px;color: #666;text-align:left;line-height:11px}
            label {font-weight: bold;}
            .no_results {font-size:16px; font-style: italic;}
            .awesome_font {font-family:FontAwesome;font-style:normal;}
    h4 {font-size:18px;}
    h5 {font-size:14px;}
    h6 {font-size:12px;}
        </style>

</head>
<body>
	<h1 align="center"> NYS CF 2ND TIER QC REPORT </h1>
    {% rest_call rest_api:job_overview job_id=job_id rest_config=rest_config as job %}
    <table class="meta_information">
        <tr>
            <td width="80%" class="meta_information">
                <label>Job:</label> {{job.name}} [{{job.job_id}}]
                <br/>
                <label>Type:</label> <span>{{job.description|bleach}}</span>
                <br/>
                <label>Software Version:</label> <span>{{job.job_db_record.analysis_version}}</span>
                <br/>
                <label>Analysis Date:</label> {{ job.job_db_record.complete_time|to_datetime|date:"d-M-Y" }} {{ job.job_db_record.complete_time|to_datetime|time:"G:i" }}
                <br/>
                <label>Submitted By:</label> {{job.user_email}}
                <br/>
                <label>Report Creator:</label> {{report_creator}}
                <br/>
                <label>Report Date:</label> {% now "d-M-Y G:i" %}
                <br/>
                <label>Target Region:</label> {{job.target_region_name}}
                {% if job.targeted_variant_name %}
                    <br/>
                    <label>Target Variant:</label>  {{job.targeted_variant_name}}
                {%endif %}
				<br/>
				<label>Report Template:</label> <span> NYS_CF_2ND_TIER_QC_REPORT_v2 </span>
            </td>
            <td width="20%" valign="top">
                <img src="{% static '/images/archerdx_logo_reporting.png' %}"/>
            </td>
        </tr>
    </table>

    <h4>SAMPLE QC</h4>
    <table class="data" width="100%" repeat="1">
       <tr>
           <th>Sample ID</th>
		   <th>Number of Variants Detected</th>
           <th>Unique Fragment Total</th>
           <th>Average Unique Start Sites Per GSP2</th>
        </tr>
	{% for job_sample in job.samples %}
		{% rest_call rest_api:sample_overview job_id=job_id sample_id=job_sample.id rest_config=rest_config as sample %}
		{% rest_call rest_api:sample_read_stats job_id=job_id sample_id=job_sample.id rest_config=rest_config as stats %}
		<tr>
			<td>{{sample.name}}</td>
			<td>{{sample.results.variants.filtered_variant_count}}</td>
			{% for ritem in stats.read_stat_types %}
				{% if ritem.read_type == "Unique Fragments" %}
					{% if ritem.total_reads < 20000 %}
						<td style="color:red">{{ritem.total_reads|intcomma}}</td>
					{% else %}
						<td>{{ritem.total_reads|intcomma}}</td>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% for ritem in stats.total_stats %}
				{% if ritem.frag_type == "Average Unique Start Sites per GSP2" %}
					{% if ritem.total_reads < 30 %}
						<td style="color:red">{{ritem.total_reads|floatformat:0}}</td>
					{% else %}
						<td>{{ritem.total_reads|floatformat:0}}</td>
					{% endif %}
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	
    </table>
		<div id="footerContent" class="section">
            {%block page_foot%}
               Page <pdf:pagenumber> of <pdf:pagecount>
            {%endblock%}
        </div>
</body>
</html>
