{% load bleach_tags external_sources reporting staticfiles %}
<html>
<head>
    <meta name="report_type" content="job"/>
    <meta name="name" content="NYS_CF_THIRD_TIER_JOB_REPORT_v1"/>
    <meta name="assay_types" content="all"/>
    <meta name="save_to_file" content="NYS_CF_THIRD_TIER_JOB_REPORT_v1.pdf"/>

    <style type="text/css">
        {% include "reporting/includes/reports/pdf_styles.html" %}
    </style>

</head>
<body>
    {% rest_call rest_api:job_overview job_id=job_id rest_config=rest_config as job %}
    <table class="meta_information">
        <tr>
            <td width="66%" class="meta_information">
                <label>Job:</label> {{job.name}} [{{job.job_id}}]
                <br/>
                <label>Type:</label> <span>{{job.description|bleach}}</span>
                <br/>
                <label>Software Version:</label> <span>{{job.job_db_record.analysis_version}}</span>
                <br/>
                <label>Analysis Date:</label> {{ job.job_db_record.complete_time|to_datetime|date:"d-M-Y" }} {{ job.job_db_record.complete_time|to_datetime|time:"G:i" }}
                <br/>
                <label>Submitted By:</label> {{job.user_email}}
                <br/>
                <label>Report Creator:</label> {{report_creator}}
                <br/>
                <label>Report Date:</label> {% now "d-M-Y G:i" %}
                <br/>
                <label>Target Region:</label> {{job.target_region_name}}
                {% if job.targeted_variant_name %}
                    <br/>
                    <label>Target Variant:</label>  {{job.targeted_variant_name}}
                {%endif %}
            </td>
            <td width="33%" valign="top">
                <img src="{% static '/images/archerdx_logo_reporting.png' %}"/>
            </td>
        </tr>
    </table>

    <h4>Samples</h4>
    {% for job_sample in job.samples %}
        {% if forloop.counter > 1 %}
            <br/>
        {% endif %}
        
        {% rest_call rest_api:sample_overview job_id=job_id sample_id=job_sample.id rest_config=rest_config as sample %}

        <h5>{{sample.name}}</h5>
        {% if sample.processed_with_errors %}
            <h6>Sample processed with errors.</h6>
        {% else %}
            <table class="data" width="100%">
                <th>Result Type</th>
                <th>Count</th>
            {% if job.is_dna_deletion %}
                <tr>
                    <td>Strong DNA Structural Variations</td>
                    <td>{{sample.results.isoforms.strong_deletion_count}}</td>
                </tr>
            {% endif %}
            {% if job.is_snp %}
                <tr>
                    <td>Sequence Variants</td>
                    <td>{{sample.results.variants.filtered_variant_count}}</td>
                </tr>
            {% endif %}
            {% if job.is_dna_cnv %}
                <tr>
                    <td>CNVs</td>
                    <td>{{sample.results.cnv.total_cnv_count}}</td>
                </tr>
            {% endif %}
            </table>
        {% endif %}
    {% endfor %}

</body>
</html>
