data_store/180214-Regions_lacking_coverage.input
	//this is the variant list
	//this list will be used in our output file with the
	//primers_to_use column added
												
data_store/170320_our_primers.txt
	//this is our primer file
		
output/180214-Regions_lacking_coverage_w_primers.txt
	//file name to write output to
	
//NOTE: The formatting of this config file must stay as it is! Do not move what lines the data is on! and no spaces in directory/file names!
